@{
    ViewBag.Title = "EmpleadoIndex";
    
}
<link href="~/Content/estilo.css" type="text/css" rel="stylesheet"/>
<div class="container">     
    <nav class="navbar navbar-default" style="margin-bottom: 3px;">
        <div class="container-fluid color1borde">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white;" href="#">Empleados</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="~/Empleado/CrearEmpleado" style="color:#000; background:#62d3e2;">Crear Empleado<span class="sr-only">(current)</span></a></li>
                    <li><a href="~/Empleado/EditarEmpleado" style="color:white;">Editar Empleado</a></li>
                    <li><a href="~/Empleado/EliminarEmpleado" style="color:white;">Eliminar Empleado</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container form1">
        <center><h3 class="titulo">Crear Empleado</h3></center>
    </div>
</div>
@*<div class="row form1">
    <div class="">
        <div role="tabpanel">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active color1"><a href="#seccion1" aria-controls="seccion1" data-toggle="tab" role="tab" onclick="t1()">Crear</a></li>
                <li role="presentation" class="color1"><a href="#seccion2" aria-controls="seccion2" data-toggle="tab" role="tab" onclick="t2()">Editar</a></li>
                <li role="presentation" class="color1"><a href="#seccion3" aria-controls="seccion3" data-toggle="tab" role="tab" onclick="t3()">Eliminar</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="seccion1">
                    <center><h3 class="titulo">Crear Empleado</h3></center>
                    <div class="form2">

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="seccion2">
                    <center><h3 class="titulo">Editar Empleado</h3></center>
                    <div class="form2">

                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="seccion3">
                    <center><h3 class="titulo">Eliminar Empleado</h3>  </center>
                    <div class="form2">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@