
@{
    ViewBag.Title = "MantenimientoIndex";
}

<link href="~/Content/estilo.css" type="text/css" rel="stylesheet" />
<center><h2 class="titulo">Mantenimiento</h2></center><br>
<div class="row">
    <a href="~/Empleado/CrearEmpleado">
        <div class="col-md-3 margenes2">
            <center>
                <img src="~/Imagenes/empleados.png" class="imagentam" alt="" />
                <h3 class="colorblanco">Empleados</h3>
            </center>
        </div>
    </a>
    <a href="~/Departamento/CrearDepartamento">
        <div class="col-md-3 margenes2">
            <center>
                <img src="~/Imagenes/departamentos.png" alt="" class="imagentam" />
                <h3 class="colorblanco">Departamentos</h3>
            </center>
        </div>
    </a>
    <a href="~/Cargo/CrearCargo">
        <div class="col-md-3 margenes2">
            <center>
                <img src="~/Imagenes/cargo.png" class="imagentam" alt="" />
                <h3 class="colorblanco">Cargos</h3>
            </center>
        </div>
    </a>
</div>

<!--<style>
    .titulo{
       
    }
   
    .margenes {
       
    }
    .imagentam {
        width: 150px;
    }
</style>-->