
@{
    ViewBag.Title = "ProcesoIndex";
}

<link href="~/Content/estilo.css" type="text/css" rel="stylesheet" />
<center><h2 class="titulo">Proceso</h2></center><br>
<div class="row">
    <a href="~/Proceso/CalculoNominas">
        <div class="col-md-3 margenes2">
            <center>
                <img src="~/Imagenes/calculo.png" class="imagentam" alt="" />
                <h3 class="colorblanco">Calculo de Nominas</h3>
            </center>
        </div>
    </a>
    <a href="~/Proceso/SalidadeEmpleados">
        <div class="col-md-3 margenes2">
            <center>
                <img src="~/Imagenes/salida.png" alt="" class="imagentam" />
                <h3 class="colorblanco">Salida de Empleados</h3>
            </center>
        </div>
    </a>
    <a href="~/Proceso/Vacaciones">
        <div class="col-md-3 margenes2">
            <center>
                <img src="~/Imagenes/vacaciones.png" class="imagentam" alt="" />
                <h3 class="colorblanco">Vacaciones</h3>
            </center>
        </div>
    </a>
</div>
<div class="row">
    <a href="~/Proceso/Permisos">
        <div class="col-md-5 margenes3">
            <center>
                <img src="~/Imagenes/permiso.png" class="imagentam" alt="" />
                <h3 class="colorblanco">Permisos</h3>
            </center>
        </div>
    </a>
    <a href="~/Proceso/Licencias">
        <div class="col-md-5 margenes3">
            <center>
                <img src="~/Imagenes/licencia.png" class="imagentam" alt="" />
                <h3 class="colorblanco">Licencias</h3>
            </center>
        </div>
    </a>
</div>