
@{
    ViewBag.Title = "EditarDepartamento";
}

<link href="~/Content/estilo.css" type="text/css" rel="stylesheet" />
<div class="container">
    <nav class="navbar navbar-default" style="margin-bottom: 3px;">
        <div class="container-fluid color1borde">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white;" href="#">Departamentos</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="~/Departamento/CrearDepartamento" style="color:white;">Crear Departamento</a></li>
                    <li class="active"><a href="~/Departamento/EditarDepartamento" style="color:#000; background:#62d3e2;">Editar Departamento<span class="sr-only">(current)</span></a></li>
                    <li><a href="~/Departamento/EliminarDepartamento" style="color:white;">Eliminar Departamento</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container form1">
        <center><h3 class="titulo">Editar Departamento</h3></center>
    </div>
</div>



