
@{
    ViewBag.Title = "EmpleadosActivos";
}
<link href="~/Content/estilo.css" type="text/css" rel="stylesheet" />
<div class="container">
    <nav class="navbar navbar-default" style="margin-bottom: 3px;">
        <div class="container-fluid color1borde">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:white;" href="~/Informe/InformeIndex">Informe</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="~/Informe/EmpleadosActivos" style="color:#000; background:#62d3e2;">Empleados Activos<span class="sr-only">(current)</span></a></li>
                    <li><a href="~/Informe/EmpleadosInactivos" style="color:white;">Empleados Inactivos</a></li>
                    <li><a href="~/Informe/Departamentos" style="color:white;">Departamentos</a></li>
                    <li><a href="~/Informe/Cargos" style="color:white;">Cargos</a></li>
                    <li><a href="~/Informe/EntradaEmpleados" style="color:white;">Entrada de empleados</a></li>
                    <li><a href="~/Informe/SalidasEmpleados" style="color:white;">Salida de empleados</a></li>
                    <li><a href="~/Informe/Permisos" style="color:white;">Permisos</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container form1">
        <center><h3 class="titulo">Empleados Activos</h3></center>
    </div>
</div>


