
@{
    ViewBag.Title = "InformeIndex";
}

<link href="~/Content/estilo.css" type="text/css" rel="stylesheet" />
<center><h2 class="titulo">Informe</h2></center><br>
<div class="row">
    <div class="col-md-5 margenes3">
        <center>
            <img src="~/Imagenes/empleados.png" class="imagentam" alt="" />
            <h3 class="colorblanco">Empleados Activos</h3>
        </center>
    </div>
    <div class="col-md-5 margenes3">
        <center>
            <img src="~/Imagenes/empleados.png" class="imagentam" alt="" />
            <h3 class="colorblanco">Empleados Inactivos</h3>
        </center>
    </div>
</div>
<div class="row">
    <div class="col-md-5 margenes3">
        <center>
            <img src="~/Imagenes/empleados.png" class="imagentam" alt="" />
            <h3 class="colorblanco">Departamentos</h3>
        </center>
    </div>
    <div class="col-md-5 margenes3">
        <center>
            <img src="~/Imagenes/empleados.png" class="imagentam" alt="" />
            <h3 class="colorblanco">Cargos</h3>
        </center>
    </div>
</div>
<div class="row">
    <div class="col-md-5 margenes3">
        <center>
            <img src="~/Imagenes/empleados.png" class="imagentam" alt="" />
            <h3 class="colorblanco">Entradas de empleados por mes</h3>
        </center>
    </div>
    <div class="col-md-5 margenes3">
        <center>
            <img src="~/Imagenes/empleados.png" class="imagentam" alt="" />
            <h3 class="colorblanco">Salidas de empleados por mes</h3>
        </center>
    </div>
</div>
<div class="row">
    <div class="col-md-11 margenes4">
        <center>
            <img src="~/Imagenes/empleados.png" class="imagentam" alt="" />
            <h3 class="colorblanco">Permisos</h3>
        </center>
    </div>
</div>

